<div id="connexion">
	{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
		<span class="bonjour">Bonjour, <strong>{{ app.user.username }}</strong> !</span>
		<span class="deco"><a href="{{ path('fos_user_security_logout') }}">déconnexion</a></span>
		
		<p>Que souhaitez-vous faire ?</p>
		<div class="choix">
            <a href="{{ path('tableau_de_bord', {id: app.user.id }) }}">Tableau de bord</a>
			<ul class="user">
				<li><a href="{{ path('mes_documents', {id: app.user.id }) }}">Mes documents</a></li>
				<li><a href="{{ path('documents') }}">Documents copropriété</a></li>
				<li><a href="{{ path('bureau_syndical') }}">Bureau syndical</a></li>
			</ul>
            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_GEST') %}
                <a href="{{ path('administration') }}">Administration</a>
                <ul class="admin">
                    {# Communs #}
                    <li><a href="{{ path('actus_create') }}">Ajouter une actualité</a></li>
                    <li><a href="{{ path('documents_add') }}">Ajouter un document</a></li>
                    <li><a href="{{ path('gerer_slideshow') }}">Gérer les images du diaporama</a></li>
                    {# Administrateur #}
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{ path('users_list') }}">Gérer les utilisateurs</a></li>
                        <li><a href="{{ path('retards') }}">Gérer les retards de règlement</a></li>
                    {% endif %}
                    {# Administrateur et Gestionnaire #}
                    {% if is_granted('ROLE_GEST') %}
                        <li><a href="{{ path('coproprietaires_liste') }}">Gérer les copropriétaires</a></li>
                        <li><a href="#">Gérer les entreprises</a></li>
                        <li><a href="#">Gérer le calendrier</a></li>
                    {% endif %}
                </ul>
            {% endif %}
		</div>
			
			{% if is_granted('ROLE_COPRO') %}
			
			{% endif %}
		
		{% else %}
		<h2>Connexion</h2>
		{% render path('fos_user_security_login') %}
	{% endif %}
</div>