{% trans_default_domain 'FOSUserBundle' %}

<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="fos_user_change_password">

    {{ form_errors(form) }}

    <div class="form-group">
        {{ form_label(form.current_password, "Mot de passe actuel", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_widget(form.current_password) }}
    </div>
    {% for passwordField in form.plainPassword %}
        <div class="form-group">
            {{ form_label(passwordField, null, { 'attr': {'class': 'control-label'} }) }}
            {{ form_widget(passwordField) }}
        </div>
    {% endfor %}
    <div>
        <input type="submit" value="{{ 'change_password.submit'|trans }}" class="btn btn-success "/>
    </div>
    <a href="{{ path('tableau_de_bord', {id: app.user.id }) }}">Retour au tableau de bord</a>
</form>