{% extends 'base.html.twig' %}

{% block section_title "Liste des documents" %}
{% block section_content %}

{% block aside_title "" %}
{% block aside_content "" %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div class="flash-notice">
            {{ flashMessage }}
        </div>
    {% endfor %}

    {% if is_granted('ROLE_GEST') %}
    <div class="alert alert-info">
        {% if is_granted('ROLE_ADMIN') %}
        <p>
            <span class="glyphicon glyphicon-menu-right"></span>&nbsp;<a href="{{ path('documents_perso') }}">Gérer les documents personnels</a>
        </p>
        {% endif %}
        <p>
            <span class="glyphicon glyphicon-plus-sign"></span>&nbsp;<a href="{{ path('documents_add') }}" title="Ajouter un document">Ajouter un document</a>
        </p>

    </div>
    {% endif %}
    <br />
    <div class="">

            <ul class="nav nav-stacked nav-pills col-sm-4">
                {% for key,type in types %}
                <li {% if loop.index == 1 %}class="active"{% endif %}>
                    <a data-toggle="tab" href="#{{ key }}">{{ type }}</a>
                </li>
                {% endfor %}
            </ul>

            <div class="tab-content col-sm-8">
            {% for key,type in types %}
                    <div id="{{ key }}" class="tab-pane {% if loop.index == 1 %}active{% endif %}">

                        <div class="">
                        {% for docu in docus %}
                            {% if docu.type == type %}

                                {% if docu.voir == 'IS_AUTHENTICATED_ANONYMOUSLY' %}
                                    {% set voir = 'public' %}
                                {% elseif docu.voir == 'ROLE_ADMIN' %}
                                    {% set voir = 'administrateur' %}
                                {% elseif docu.voir == 'ROLE_GEST' %}
                                    {% set voir = 'gestionnaire administrateur' %}
                                {% elseif docu.voir == 'ROLE_COPRO' %}
                                    {% set voir = 'coproprietaire gestionnaire administrateur' %}
                                {% else %}
                                    {% set voir = '' %}
                                {% endif %}

                                <div class="liste item doc {{ voir }}" id="docu{{ docu.id }}">
                                <h3>
                                    <a href="{{ path('document_dl', {docId: docu.id}) }}" title="Télécharger le document">
                                        <span class="glyphicon glyphicon-circle-arrow-down"></span>&nbsp;{{ docu.titre }}
                                    </a>
                                </h3>
                                <p>{{ docu.description }}</p>
                                {% if is_granted('ROLE_GEST') %}
                                    <p class="infos">
                                        <a class="modifier" href="{{ path('documents_edit', {id: docu.id}) }}">Modifier</a>
                                        <a class="supprimer" href="{{ path('document_delete', {docId: docu.id}) }}">Supprimer</a>
                                            <span class="pull-right help">
                                                <span class="glyphicon glyphicon-eye-open" aria-hidden="true" title="Ce document est visible par : {{ docu.voir }}"></span>
                                            </span>&nbsp;
                                            <span class="pull-right help">
                                                <span class="glyphicon glyphicon-cog" aria-hidden="true" title="Ce document est géré par : {{ docu.gerer }}"></span>&nbsp;
                                            </span>
                                    </p>
                                {% endif %}
                            </div>
                            {% endif %}
                        {% endfor %}
                            </div>
                    </div>
	    {% endfor %}
            </div>
    </div>

{% endblock %}