{% extends 'base.html.twig' %}

{% block section_title "Ajouter une entreprise" %}
{% block section_content %}

{% block aside_title "" %}
{% block aside_content "" %}

    {# {{ form(form) }} #}

    {{ form_start(form, {'class': 'form-horizontal col-sm-12 container', 'attr': {'class': 'form-horizontal col-sm-12 container'}}) }}
    <div class="form_content">
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_errors(form.nom) }}
            {{ form_label(form.nom, 'Nom de l\'entreprise', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.contact) }}
            {{ form_label(form.contact, 'Nom du contact', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.contact, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.adresse) }}
            {{ form_label(form.adresse, 'Adresse de l\'entreprise', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.adresse, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.telephone) }}
            {{ form_label(form.telephone, 'Téléphone', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.telephone, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.email) }}
            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.domaine) }}
            {{ form_label(form.domaine, "Domaine d\'intervention", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.domaine, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.opac) }}
            {{ form_label(form.opac, "Référencement OPAC", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.opac, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_errors(form.commentaire) }}
            {{ form_label(form.commentaire, "Commentaire", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.commentaire, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

    </div>
    {{ form_end(form) }}

{% endblock %}

