{% extends 'base.html.twig' %}


{% block section_title "Liste des actualités" %}

{% block section_content %}

{% block aside_title "" %}
{% block aside_content "" %}
<div id="actus">
	<h2>Actualités</h2>
		{% for actu in actus %}
			<div class="actu" id="actu{{ actu.id }}">
				{% if actu.extension != null %}
					<img src="{{ (actu.filename) | imagine_filter('actu_accueil') }}" />
				{% endif %}
				<div>
					<h3>{{ actu.titre }}</h3>
					<p class="texte">{{ actu.texte }}</p>
					<p class="infos">{{ actu.date|date("d/m/Y") }} <a class="modifier" href="{{ path('actus_modif', {actuId: actu.id}) }}">Modifier</a></p>
				</div>
			</div>
		{% endfor %}
</div>

{% endblock %}