{# Template de la page d'accueil #}
{% extends 'base.html.twig' %}

{% block body_class "accueil" %}

{% block body %}

	<div id="pagetop">

		{% block diaporama %}
		<div class="diaporama-wrapper">
			<div class="diaporama">
				<ul>
					<li><img src="{{ asset('images/slider1.jpg') }}" width="626" height="470" alt=""></li>
					<li><img src="{{ asset('images/slider2.jpg') }}" width="626" height="470" alt=""></li>
					<li><img src="{{ asset('images/slider3.jpg') }}" width="626" height="470" alt=""></li>
				</ul>
			</div>

			<div class="diaporama-pagination">
				<!-- Pagination items will be generated in here -->
			</div>
		</div>
		{% endblock %}

		{% block texteAccueil %}
		<div id="texteAccueil">
			<h2>Bienvenue !</h2>
			<p>Vous êtes sur le site de la <strong>copropriété Coteaux de chasse</strong> située à l'Isle d'Abeau.<br />
			N'hésitez pas à cliquer sur le lien ci-dessous pour accéder à des informations détaillées sur ce qu'est une copropriété !
			</p>
			<a href="{{ path('plus_infos_homepage') }}">Voir plus d'informations</a>
		</div>
		{% endblock %}
	</div>

		{% for flashMessage in app.session.flashbag.get('notice') %}
			<div class="flash-notice">
				{{ flashMessage }}
			</div>
		{% endfor %}

	<div id="pagebottom">
		{% block actus %}
		<div id="actus">
			<h2>Actualités</h2>
			{% for actu in actus %}
				<div class="liste" id="actu{{ actu.id }}">
					{% if actu.extension != null %}
						<img src="{{ (actu.filename) | imagine_filter('actu_accueil') }}" />
					{% endif %}
                    <p class="pull-right">{{ actu.date|date("d/m/Y") }}</p>
					<h3>{{ actu.titre }}</h3>
					<p>{{ actu.texte }}</p>
				</div>
			{% endfor %}
		</div>
		{% endblock %}

		{% block connexion %}
			{{ include('connexion.html.twig') }}
		{% endblock %}
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('vendor/jquery/jquery-1.11.2.min.js') }}"></script>
	<script src="{{ asset('vendor/jquery/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('vendor/jquery.jcarousel.min.js') }}"></script>
	<script src="{{ asset('js/call.jCarousel.js') }}"></script>
{% endblock %}
