{% extends 'base.html.twig' %}

{% block section_title "Modifier votre mot de passe" %}
{% block section_content %}

{% block aside_title "" %}
{% block aside_content "" %}


    {{ form_start(form) }}
    <div class="form_content">
        {{ form_errors(form) }}

        <div class="form-group">
            {{ form_errors(form.password) }}
            {{ form_label(form.password, "Nouveau mot de passe", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
            <div class="col-sm-9">
                {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>

        <input type="submit" value="Valider" class="btn btn-success " />
    </div>
    {{ form_end(form) }}

{% endblock %}

